<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowWatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WindowWatcher.Properties.Settings>
            <setting name="TopMethod" serializeAs="String">
                <value />
            </setting>
            <setting name="Flash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RefreshSeconds" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="UseSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RefreshCount" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Lync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Skype" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserSearch" serializeAs="String">
                <value />
            </setting>
            <setting name="Verbose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="msSeekNewLyncs" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="msRecheckLyncExist" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="WindowsStartUP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BeenHereBefore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlashAllWindowsOnNewDiscovery" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlashAllWIndowsOnNewDiscoveryRandom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoundOption" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RenotificationByWindowTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RenotificationByToast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="New" serializeAs="String">
                <value />
            </setting>
        </WindowWatcher.Properties.Settings>
    </userSettings>
</configuration>